<!-- #region Apache License -->
@*
    Copyright 2015 StrixIT. Author R.G. Schurgers MA MSc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@
<!-- #endregion -->

@model DocumentViewModel
@{
    Layout = "~/Areas/Cms/Views/Shared/_ContentDisplay.cshtml";
    Html.AddScript("~/Areas/Cms/Scripts/Widgets/strixit.documentcontroller.js");
    var cultureString = StrixPlatform.CurrentCultureCode == StrixPlatform.DefaultCultureCode ? string.Empty : StrixPlatform.CurrentCultureCode + "/";
    var downloadLink = string.Format("/{0}Document/Download/{1}", cultureString, Model.Url);
}
<div class="cms-content-document" data-id="@Model.Id" ng-controller="documentcontroller" ng-init="initItem('@Model.EntityId', '@Model.DocumentType', '@Model.FullPath')">
    @if (Model.Id != Guid.Empty)
    {
        <div class="cms-title-document">@Html.RenderEscapedHtml(Model.Name)</div>
        switch (Model.DocumentType)
        {
            case DocumentType.Image:
                {
                    <img class="img-thumbnail center-block" />
                } break;
            case DocumentType.Video:
                {
                    <video controls><source src="/@Model.FullPath" type="@string.Format("video/{0}", Model.File.Extension)"></video>
                } break;
            case DocumentType.Audio:
                {
                    <audio controls><source src="/@Model.FullPath" type="@string.Format("video/{0}", Model.File.Extension)"></audio>
                } break;
        }
        <a href="@downloadLink" target="_blank" class="cms-downloadlink-document">
            @Interface.Download
        </a>
        <div class="cms-body-document">@Html.RenderEscapedHtml(Model.Description)</div>
    }
</div>