<!-- #region Apache License -->
@*
    Copyright 2015 StrixIT. Author R.G. Schurgers MA MSc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@
<!-- #endregion -->

@{
    var taggingActive = EntityHelper.IsServiceActive(typeof(Document), EntityServiceActions.AllowFixedTagging);
}
<div id="documentcontainer" ng-controller="createdocumentcontroller" ng-init="init()">
    <div ng-show="!editMode">
        <h1>@Interface.UploadMultipleDocuments</h1>
        @Html.Partial("UploadForm", new AddFile() { ShowTitle = false, Mode = FileUploadMode.MultiUpload, DisplayHeight = 100, DisplayWidth = 100, MaxHeight = 4000, MaxWidth = 4000, CallbackFunctionName = "documentsUploaded" })
    </div>
    <div ng-show="editMode" class="row form-margin-bottom">
        @if (taggingActive)
        {
            <input type="text" id="tagfilter" class="k-textbox" ng-change="filterTags()" ng-model="filterText" placeholder="@Interface.FilterTags" />
            <ul id="taglist" ng-show="tagsLoaded">
                <li ng-repeat="tag in tags | orderBy: ['name']" ng-show="tag.show">
                    <span ng-click="addToDocuments(tag)">{{tag.name}}</span>
                </li>
            </ul>
        }
        <ul id="documentlist" kendo-sortable>
            <li ng-repeat="document in documents" data-id="{{document.fileId}}">
                <div class="row">
                    @if (taggingActive)
                    {
                        <div class="col-md-1 checkbox-container">
                            <input type="checkbox" class="checkbox" ng-click="documentSelected(document)" />
                        </div>
                    }
                    <div class="col-md-2">
                        <img ng-show="document.image" ng-src="{{ document.image }}" class="img-thumbnail" />
                        <div class="fileicon" ng-show="{{ showIcon(document) }}"><i ng-class="'{{ iconToShow(document) }}'"></i></div>
                    </div>
                    <div class="col-md-9 document-data">
                        <div class="document-data-container">
                            <div class="col-sm-2">
                                @DefaultInterface.Name
                            </div>
                            <div class="col-sm-10">
                                <input type="text" ng-model="document.name" class="k-textbox" />
                            </div>
                            <div class="col-sm-2">
                                @Interface.Date
                            </div>
                            <div class="col-sm-10">
                                <input type="text" kendo-date-picker k-ng-model="document.date" />
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="document-tags col-md-12">
                    <li ng-repeat="tag in document.tags | orderBy: [ 'name' ]" class="col-md-offset-1">
                        <i class="fa fa-close fa-lg fa-fw" title="@Interface.RemoveTag" ng-click="removeTag(document, tag)"></i>
                        <span>{{tag.name}}</span>
                    </li>
                </ul>
            </li>
        </ul>
        <kendo-button ng-disabled="saving" ng-click="saveDocuments()" class="k-primary">@DefaultInterface.Save</kendo-button>
    </div>
    <p>
        @Html.ActionLink(DefaultInterface.BackToList, MvcConstants.INDEX)
    </p>
</div>