<!-- #region Apache License -->
@*
    Copyright 2015 StrixIT. Author R.G. Schurgers MA MSc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@
<!-- #endregion -->

@model DocumentViewModel
@{
    Layout = "~/Areas/Cms/Views/Shared/_ContentForm.cshtml";
}
@section FormContent
{
    <strix-cms-editor editor-label="@Interface.Date">
        <input name="date" kendo-date-picker k-ng-model="document.date" />
    </strix-cms-editor>
    <strix-cms-editor editor-label="@Interface.Location">
        <input name="location" type="text" class="k-textbox" ng-model="document.location" strix-show-html maxlength="250" />
    </strix-cms-editor>
    <strix-cms-editor editor-label="@Interface.AuthorName">
        <input name="authorName" type="text" class="k-textbox" ng-model="document.authorName" strix-show-html maxlength="250" />
    </strix-cms-editor>
    <strix-cms-editor editor-label="@Interface.Description">
        <textarea name="description" class="k-textbox" ng-model="document.description" rows="5" strix-show-html></textarea>
    </strix-cms-editor>
    @*<strix-cms-editor editor-label="@Interface.PublishedOn">
            <input name="publishedOn" kendo-date-picker k-ng-model="document.publishedOn" />
        </strix-cms-editor>*@
}
@section ImageUpload
{
    <div class="edit-form-uploader">
        @Html.Partial("UploadForm", new AddFile()
        {
            Mode = FileUploadMode.UploadAndShow,
            Unzip = false,
            DisplayHeight = 100,
            DisplayWidth = 100,
            MaxHeight = 4000,
            MaxWidth = 4000
        })
    </div>
}
